.notetext{
  position: relative;
  right: 0;
  width:calc(100% - 240px - 320px - 60px);
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;/*让内部元素垂直排列*/
  background: white;
}

.btnBase-root{
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-root{
  fill: currentColor;
  width: 20px;
  height: 20px;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none;
}


.btn-root{
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Microsoft Yahei",Arial,sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: none;
}

.listitem-root{
  color: #172b4d;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  transition: none;
  align-items: center;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  text-decoration: none;
}

/* Header */

.notetext header {
  flex-grow: 0;
  box-shadow: none;
  /* box-shadow: 0px 2px 2px rgba(0,0,0,.18); */
  background-color: inherit;
  color: rgba(0, 0, 0, 0.87);
  position: static;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;          /*内部项目垂直显示*/

}

.notetext header .titlebtn{
  padding: 24px 30px 16px 22px;
  display: flex;
  position: relative;
  align-items: center;
}

/* 头部中的标题 */
.notetext header .titlebtn p{
  overflow: hidden;
  margin-left: 8px;            /*左边空8个像素单位*/
  white-space: nowrap;         /*不换行*/
  padding-left: 1px;           /*内左空一像素位*/
  padding-right: 8px;
  text-overflow: ellipsis;     /*超出部分显示为省略号*/
  color: #172b4d;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  align-self: center;          /*flex子项在纵轴上的对其方式*/
  word-break: break-word;      /*一行单词中实在没有其他靠谱的换行点的时候换行。*/
}

.notetext header .titlebtn .notecontrolbtn{
  flex-shrink: 0;
}


/*编辑按钮外框*/
.notetext header .titlebtn .notecontrolbtn .editbtn{
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .titlebtn .notecontrolbtn .editbtn button{
  padding: 6px 8px;
  min-width: 40px;
  box-shadow: none;
  min-height: 0;

  margin: 0;
  line-height: 1;
  white-space: nowrap;

  color: #ffffff;
  background-color: #448aff;
}

.btn-label{                  /*按钮内总管span*/
  width: 100%;
  display: inherit;
  align-items: inherit;
  line-height: 1.4;
  justify-content: inherit;
}

.notetext header .titlebtn .notecontrolbtn .editbtn button .btn-label i{
  margin-right: 4px;
  font-size: 1.3rem;
}

.notetext header .titlebtn .notecontrolbtn .editbtn button .btn-label span{
  line-height: 1.4;
}

/*编辑全屏按钮外框*/

.notetext header .titlebtn .notecontrolbtn .fullsBox{
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .titlebtn .notecontrolbtn .fullsBox button{
  padding: 8px;
  min-width: 32px;
  min-height: 0;
  margin-left: 8px;

  background-color: transparent;
  color: #448aff;
  line-height: 1;
  box-shadow: none;
  white-space: nowrap;

}

.notetext header .titlebtn .notecontrolbtn .fullsBox button i{
  color: #505f79;
  width: 16px;
  height: 16px;
}

/*分享按钮*/
.notetext header .titlebtn .notecontrolbtn .notesharebtn{
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .titlebtn .notecontrolbtn .notesharebtn button{
  padding: 8px;
  min-width: 32px;
  min-height: 0;
  margin-left: 8px;

  background-color: transparent;
  color: #448aff;
  line-height: 1;
  box-shadow: none;
  white-space: nowrap;
}

.notetext header .titlebtn .notecontrolbtn .notesharebtn button i{
  color: #505f79;
  width: 16px;
  height: 16px;
}

/* 附件按钮 */
.notetext header .titlebtn .notecontrolbtn .noteannexbtn{
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .titlebtn .notecontrolbtn .noteannexbtn button{
  padding: 8px;
  min-width: 32px;
  min-height: 0;
  margin-left: 8px;

  background-color: transparent;
  color: #448aff;
  line-height: 1;
  box-shadow: none;
  white-space: nowrap;
}

.notetext header .titlebtn .notecontrolbtn .noteannexbtn button i{
  color: #505f79;
  width: 16px;
  height: 16px;
}

.notetext header .titlebtn .notecontrolbtn .noteannexbtn button p{
  line-height: 16px;
  font-size: 12px;
  align-self: center;
  word-break: break-word;
  margin: 0;
  color: #505f79;
}

/* 更多按钮图标按钮 */
.notetext header .titlebtn .notecontrolbtn .notemorebtn{
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn button{
  padding: 8px;
  min-width: 32px;
  min-height: 0;
  margin-left: 8px;

  background-color: transparent;
  color: #448aff;
  line-height: 1;
  box-shadow: none;
  white-space: nowrap;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn button i{
  color: #505f79;
  width: 16px;
  height: 16px;
}

/* 更多功能图标的功能面板 */
.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfoform{
  display: none;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfoform,
.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfoform .close{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup{
  opacity: 1;                    /*设置div的不透明度*/
  transform: none;
  min-width: 100px;
  max-width: 270px;
  transition: opacity 299ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              transform 199ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  position: absolute;
  top: 0px;
  /* left: 0px; */
  right: 10px;
  z-index: 110;
  transform-origin: 157px 0px 0px;

  outline: 0;
  max-width: calc(100% - 32px);

  max-height: calc(100% - 32px);
  min-height: 16px;
  overflow-x: hidden;
  overflow-y: auto;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

/*图标按钮的动态效果*/

.notetext header .titlebtn .notecontrolbtn button:hover{
  color: #448aff;
  background-color: #E6E9ED;    /* 标题按钮悬浮效果 */
}

.notetext header .titlebtn .notecontrolbtn button:active{
  color: #448aff;
  background-color: #d1e6ff;    /* 标题按钮按下效果 */
}

      /* 下拉框列表 */
.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul{
  margin: 0;
  padding: 4px 0 4px 0;
  outline: none;
  position: relative;
  list-style: none;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root{
  padding: 0 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root:hover{
  text-decoration: none;            /*鼠标悬浮时改变颜色*/
  background-color: rgba(80, 95, 121, 0.08);
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root:active{
  background-color: #d1e6ff;        /*鼠标按下时改变颜色*/
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root .listli-icon{
  color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  min-width: unset;
  flex-shrink: 0;
  margin-right: 0;
  text-align: left;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root .listli-text{
  margin-left: 16px;
  flex: 1 1 auto;
  width: 100%;
  padding: 0;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup ul .listli-root .listli-text span{
  color: #172b4d;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
}

        /* 下拉框笔记详细信息 */
.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup .noteinfobox{
  padding: 0 16px 8px;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup .noteinfo{
  border-top: 1px solid #e6e9ed;
}

/*集体类：笔记信息文字字号*/
.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup .noteinfo .noteinfofont{
  color: #a7afbc;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  margin: 8px 0;
  word-break: break-word;
}

.notetext header .titlebtn .notecontrolbtn .notemorebtn .noteinfosetup .noteinfo .dirpath a{
  color: #448aff;
  text-decoration: none;
  margin: 0;
}


/* 添加标签Box */
.notetext header .addtagbox{
  display: flex;

  flex-wrap: wrap;
  min-height: 32px;
  padding-left: 30px;
  margin-bottom: 8px;
  padding-right: 30px;
}


.notetext header .addtagbox .singleaddtag{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.notetext header .addtagbox .singleaddtag .addtagicon{
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.notetext header .addtagbox .singleaddtag button{
  color: #448aff;
  border-style: none;
  background-color: transparent;
  margin: 0;
  padding: 4px;
  min-width: auto;
  min-height: auto;
  line-height: 1;
  white-space: nowrap;
  font-size: 14px;
}

.notetext header .addtagbox .singleaddtag button:hover{
  background-color: #d1e6ff;
}

.notetext header .addtagbox .singleaddtag p{
  cursor: pointer;
  margin-left: 4px;
  white-space: nowrap;
  color: #172b4d;
  line-height: 1.6;
  align-self: center;
  word-break: break-word;
  margin: 0;
}
