/* 账号页面 内容区 */
/* 先放一个总div到外面限制区域，已经定位原始点 */
div.account_setup_box .account_setup .bodybar{
  position: absolute;
  left: 190px;          /* 这个190px 是左侧的宽度 */
  top: 0;
  width: calc(100% - 190px);
  height: 100%;
}

/* 账号设置和其他所有的内容页 */
div.account_setup_box .account_setup .bodybar .body_account_setup,
div.account_setup_box .account_setup .bodybar .body_preference_setup,
div.account_setup_box .account_setup .bodybar .body_storage_setup,
div.account_setup_box .account_setup .bodybar .body_deploy_setup{
  position: relative;
  margin: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  overflow-y: auto;
}


/* 上传头像区 */
div.account_setup_box .account_setup .bodybar .body_account_setup .editface{
  position: absolute;
  width: 96px;
  height: 96px;
  background: #1fb;
  right: 50px;
  border-radius: 50%;
  overflow: hidden;/*溢出隐藏*/
  z-index: 101;
}
div.account_setup_box .account_setup .bodybar .body_account_setup .editface img{
  width: 100px;
  height: 100px;
}
div.account_setup_box .account_setup .bodybar .body_account_setup .editface .uploadface{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  color:#fff;
  background: rgba(0, 0, 0, .15);
  transition: height .2s;
}
div.account_setup_box .account_setup .bodybar .body_account_setup .editface .uploadface i{
  display: block;
  text-align: center;
  width: 100%;
  line-height: 20px;
}
div.account_setup_box .account_setup .bodybar .body_account_setup .editface:hover > .uploadface{
  cursor: pointer;
  height: 20px;
}
/* ==================以上上传头像部分样式=================== */

/* 标题 邮箱两个字 */
.body_account_setup .account_setup_box .setup_email_box .emailtitle{
  /* display: flex; */
  /* line-height: 12px; */
  margin: 0;
}
/* 邮箱 xx@aa.com + btn*/
.body_account_setup .account_setup_box .setup_email_box .check_email_box{
  display: flex;
  margin: 8px 0 0 0;
}
.body_account_setup .account_setup_box .setup_email_box .emailtext{
  margin-right: 8px;
  max-width: 200px;
  white-space: nowrap;      /* 防止换行 */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =================以上邮箱部分=================*/
/*让此部分与邮箱部分拉开距离*/
.body_account_setup .account_setup_box .setup_nickname_box{
  margin-top: 40px;
}
.body_account_setup .account_setup_box .setup_nickname_box .nametitle{
  margin: 0;
}
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box{
  position: absolute;
  margin: 8px 0 0 0;
  width: 200px;
}
/* 勾 和 叉的box */
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box{
  position: absolute;
  display: flex;
  margin-top: 5px;
  right: 0;
  width: 70px;
  height: 30px;
}
/*勾*/
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_yes{
  width: 30px;
  height: 30px;
}
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_yes i{
  display: block;
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
  color: white;
  background: #448aff;
}
/*悬浮时候的背景样式*/
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_yes i:hover{
  background-color: rgba(68, 138, 255, 0.8);
}

/*叉*/
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_no{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_no i{
  display: block;
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
  color: white;
  background: #448aff;
}
/*悬浮时候的背景样式*/
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_yes i:hover,
.body_account_setup .account_setup_box .setup_nickname_box .check_input_box .input_yesorno_box .input_no i:hover{
  background-color: rgba(68, 138, 255, 0.8);
}
/* =================以上账号设置 - 昵称部分=================*/


.body_account_setup .account_setup_box .setup_phone_box{
  margin-top: 100px;
}

/* 标题 手机两个字 */
.body_account_setup .account_setup_box .setup_phone_box .phonetitle{
  margin: 0;
}
/* 未设置 + btn*/
.body_account_setup .account_setup_box .setup_phone_box .check_phone_box{
  display: flex;
  margin: 8px 0 0 0;
}
.body_account_setup .account_setup_box .setup_phone_box .phonetext{
  margin-right: 8px;
  max-width: 200px;
  white-space: nowrap;      /* 防止换行 */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 将两个按钮间距拉开 */
.body_account_setup .account_setup_box .setup_phone_box button{
  padding-left: 20px;
}
/* =================以上账号设置 - 手机部分=================*/



.body_account_setup .account_setup_box .setup_regtime_box{
  margin-top: 60px;
}
/* 标题 注册时间四个字 */
.body_account_setup .account_setup_box .setup_regtime_box .regtimetitle{
  margin: 0;
}
/* 未设置 */
.body_account_setup .account_setup_box .setup_regtime_box .check_regtime_box{
  display: flex;
  margin: 8px 0 0 0;
}
.body_account_setup .account_setup_box .setup_regtime_box .regtimetext{
  margin-right: 8px;
  max-width: 200px;
  white-space: nowrap;      /* 防止换行 */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* =================以上账号设置 - 注册时间部分=================*/

.body_account_setup .account_setup_box .setup_editpassword_box{
  margin-top: 80px;
}

.body_account_setup .account_setup_box .setup_editpassword_box button{
  border-radius: 4px;
  border: 0;
  width: 100px;
  height: 35px;
  color: #505f79;
  background-color: rgba(80, 95, 121, 0.08);
  min-height: 32px;
  /* line-height: 1; */
  font-size: 14px;
  outline: 0;
  cursor: pointer;
}
.body_account_setup .account_setup_box .setup_editpassword_box button:hover{
  background: #e6e9ed;
}
/* =================以上账号设置 - 修改密码按钮部分=================*/
.body_account_setup .account_setup_box .setup_deleteaccess_box{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 40px;
  padding-top: 8px;
}
/* 更多按钮 */
.body_account_setup .account_setup_box .setup_deleteaccess_box .morebtn{
  border: 0;
  border-radius: 4px;
  width: 80px;
  height: 35px;
  background-color: white;
  outline: 0;
  cursor: pointer;
}
.body_account_setup .account_setup_box .setup_deleteaccess_box .morebtn i{
  font-weight: bold;
}
.body_account_setup .account_setup_box .setup_deleteaccess_box .morebtn:hover{
  background-color: #e6e9ed;
}
/* 红色的删除按钮 */
.body_account_setup .account_setup_box .setup_deleteaccess_box .deleteaccess_btn{
  color: #ffffff;
  background-color: #ef403a;
  margin-top: 25px;
  outline: 0;
  border-radius: 4px;
  border: 0;
  min-width: 64px;
  min-height: 32px;
  padding: 6px 16px;
  cursor: pointer;
}



/* =================以上账号设置 - 删除账户按钮部分=================*/
