.bar,.bardoing{
  display: flex;
  flex-direction:column;/*让内部元素垂直排列*/
  width: 60px;
  height: 100%;
  background: #272f40;
  color: white;
  line-height: 22px;
}

.bardoing{
  position: relative;
  z-index: 5;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.bardoing:hover,
.bardoing.hover{
  width: 240px;
}


.bardoing .logo{
    display: flex;
    flex-direction:row;/*让内部元素水平排列*/
    position: absolute;
    width: 100%;
    height: 112px;
}

.bardoing .logo .logoinside{
    display: flex;
    flex-direction:row;/*让内部元素水平排列*/
    position: relative;  /*对其他元素的位置不影响*/
    margin-top: 20px;
    width: 100%;
    overflow: hidden;/*溢出隐藏*/
}

.bardoing .logo .logoimgbox{
  position: absolute;
  margin-left: 10px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;/*溢出隐藏*/
}

.bardoing .Username{
  position: relative;
  top: 10px;
  left: 100px;
  display: flex;
  justify-content: center;
}

/* 用户名后面的下拉箭头 */
.bardoing .Username i{
  width: 25px;
  text-align: center;
  font-size: 20px;
}

.bardoing .Username i:hover{
  cursor: pointer;
}

/* 退出登录 账户设置按钮最外层的总box */
.bardoing .Username .setupselect{

}

/* 弹窗相关css */
.popup-win_div{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* 弹窗全屏可点击box 点击后div消失 */
.popup-win_div .popup_win_close{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.popup-win_div .popup-win{
  position: absolute;
}

 /* 账户设置 退出登录的按钮box */
.bardoing .Username .setupselect .selectbtn{
  /* position: absolute; */
  top: 60px;
  left: 80px;
  width: 100px;
  height: auto;                                    /*自动设置高度，使自适应列表数量*/
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.bardoing .Username .setupselect ul{
  margin: 0;
  padding:10px 0;
  width: 100%;
  height: 90%;
  text-align: center;
}

.bardoing .Username .setupselect ul li{
  list-style-type:none;
  color: #000;
  line-height: 25px;
  font-size: 15px;
  font-weight: 500;
}

.bardoing .Username .setupselect ul li:hover{
  cursor: pointer;
  background: #d1d6dd;
}


/* 账户设置面板区域样式 */
/* 最外层box 撑开 */
/* 不需要了 集成到了popup-win_div */

/* 点击后可以关闭的部分 */
div.account_setup_box .popup_win_close{
  background-color: rgba(0, 0, 0, 0.5);
}

div.account_setup_box .account_setup{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 120px);
  min-height: calc(100% - 120px);
  max-height: calc(100% - 96px);
  max-width: 720px;
  min-width: 720px;
  border-radius: 5px;
  z-index: 101;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

div.account_setup_box .optionbar{
  position: absolute;
  /* z-index: 102; */
  width: 20%;
  min-width: 190px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
  background: #f4f6f9;
}

div.account_setup_box .optionbar .optionbar_padd{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

div.account_setup_box .optionbar .optionbar_padd ul{
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

div.account_setup_box .optionbar .optionbar_padd ul .List{
  position: relative;
  color: #172b4d;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  transition: none;
  margin-bottom: 0;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
}
div.account_setup_box .optionbar .optionbar_padd ul .selected,
div.account_setup_box .optionbar .optionbar_padd ul .List:hover{
  background-color: rgba(0, 0, 0, 0.14);
}


div.account_setup_box .optionbar .optionbar_padd ul .List .ListItem_Icon .fa{
  color: #88b5ff;
  width: 18px;
  height: 18px;
  font-size:  1.5rem;
}

div.account_setup_box .optionbar .optionbar_padd ul .List .ListItem_Text{
  padding: 0px;
  width: 100%;
  margin-left: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.account_setup_box .optionbar .optionbar_padd ul .List .ListItem_Text span{
  color: #172b4d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: "Open Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Microsoft Yahei",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;        /* 文字间距 */
}

/* 详细的内容页样式在 note_bar_account.css */
